body
{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
#box
{
    background-color: blueviolet;
    width: 471px;
    height: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 34px red;
    padding-top: 19px;
}
.text
{
    width: 93%;
    text-align: center;
    font-size: 30px;
    padding: 3px;
    margin: 10px;
    color: white;
}
#specialtext
{
    color: greenyellow;
    text-decoration: underline;
    font-size: 35px;
}
#rules
{
    font-size: 22px;
}
input
{
    width: 97%;
    height: 42px;
    font-size: 32px;
    border-radius: 10px;
    padding: 5px;
    margin-top:25px;
    text-align: center;
}
#btn
{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}
button
{
    width: 106px;
    height: 41px;
    background-color: gold;
    border: none;
    font-size: 22px;
    border-radius: 21px;
    box-shadow: 2px 4px 7px brown;
    margin: 10px;
}
button:hover
{
    background-color: goldenrod;
}